doctype html
html
	block vars

	head
		title 
			block title
				| Jason Allan - Developer
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet", href="../sass/main.scss")
		link(rel="canonical", href="https://jasonallan.dev/")
		link(rel="shortcut icon", href="../images/favicon.ico", type="image/x-icon")
		meta(name="author", content="Jason Allan")
		meta(name="description", content="Developer, open source advocate &amp; tech enthusiast")
		link(rel="manifest", href="../site.webmanifest")

		each value, key in opengraph
			meta(property='og:' + key, content=value)

		each value, key in twitter
			meta(name='twitter:' + key, content=value)

		link(
			rel="stylesheet",
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css",
			integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==",
			crossorigin="anonymous",
			referrerpolicy="no-referrer"
		)
		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js",
			integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==",
			crossorigin="anonymous",
			referrerpolicy="no-referrer"
		)

		script(type="application/ld+json").
			{
			  "@context": "http://schema.org",
			  "@type": "Website",
			  "name": "Jason Allan - Developer",
			  "headline": "Jason Allan - Developer",
			  "author": {
			    "@type": "Person",
			    "name": "Jason Allan"
			  },
			  "description": "Developer, open source advocate & tech enthusiast",
			  "url": "https://jasonallan.dev/"
			}

	body.is-preload
		//- Wrapper
		#wrapper
			//- Main
			#main
				//- About
				+addSectionItem('About', '#about')
				section#about
					.image.main(data-position="center")
						img(
							style="filter: blur(6px); transform: scale(1.1)",
							src="../images/walkator-klMii3cR9iI-unsplash.jpg?width=800px",
							alt=""
						)
					.container
						header.major
							h2 Jason Allan - Developer
							p Developer, open-source advocate & tech enthusiast.
						block about
							p.
								I'm a polyglot programmer seeking a development role. I
								contribute to open source software. I love to solve complex
								problems and find the most optimum solution.
				block main

			//- Footer
			section#footer
				.container
					ul.copyright
						li Copyright Jason Allan
						li: a(href="/src/pug/thanks.pug") Thanks, Attributions and Licences

		//- Header
		section#header
			//- Header Header
			header
				span.image.avatar: img(src="../images/quokka-logo.png?width=320px", alt="")
				h1#logo: a(href="/") Jason Allan
				p Software Developer

			//- Navigation
			block nav

			//- Social Icons
			footer: ul.icons: each link in social
				li: a.icon&attributes({
					class: `${link.icon.category} fa-${link.icon.name}`,
					href: link.href,

					...(link.relMe ? { rel: 'me', target: '_blank' } : undefined)
				}): span.label= link.title

		#titleBar
			a#header.toggle(href='#header')
			span.title
				a(href="/") Jason Allan

		//- Scripts
		script(type="module", src="../js/main.js")
